In [1]:
from langchain_community.utilities import SQLDatabase
from langchain.chains import create_sql_query_chain
from langchain_community.tools.sql_database.tool import QuerySQLDataBaseTool
from langchain_google_genai import ChatGoogleGenerativeAI
from langchain_groq import ChatGroq
from google.api_core import retry
from langchain_community.agent_toolkits import create_sql_agent
import google.generativeai as genai
from dotenv import load_dotenv
import os

C:\Users\lcast\anaconda3\envs\py312\Lib\site-packages\tqdm\auto.py:21: TqdmWarning: IProgress not found. Please update jupyter and ipywidgets. See https://ipywidgets.readthedocs.io/en/stable/user_install.html
  from .autonotebook import tqdm as notebook_tqdm

In [6]:
#load_ext dotenv
load_dotenv()
print(load_dotenv())

True

In [3]:
#Connecting to database
db=SQLDatabase.from_uri(f"sqlite:///data/sqldb.db")

In [4]:
#db = SQLDatabase(engine=engine)
print(db.dialect)
print(db.get_usable_table_names())
db.run("SELECT * FROM titanic WHERE Age < 2;")

sqlite
['titanic']

"[(1, 2, 'Master. Alden Gates Caldwell', 'male', 0.83, 0, 2, 29.0), (0, 3, 'Master. Eino Viljami Panula', 'male', 1.0, 4, 1, 39.6875), (1, 3, 'Miss. Eleanor Ileen Johnson', 'female', 1.0, 1, 1, 11.1333), (1, 2, 'Master. Richard F Becker', 'male', 1.0, 2, 1, 39.0), (1, 1, 'Master. Hudson Trevor Allison', 'male', 0.92, 1, 2, 151.55), (1, 3, 'Miss. Maria Nakid', 'female', 1.0, 0, 2, 15.7417), (0, 3, 'Master. Sidney Leonard Goodwin', 'male', 1.0, 5, 2, 46.9), (1, 3, 'Miss. Helene Barbara Baclini', 'female', 0.75, 2, 1, 19.2583), (1, 3, 'Miss. Eugenie Baclini', 'female', 0.75, 2, 1, 19.2583), (1, 2, 'Master. Viljo Hamalainen', 'male', 0.67, 1, 1, 14.5), (1, 3, 'Master. Bertram Vere Dean', 'male', 1.0, 1, 2, 20.575), (1, 3, 'Master. Assad Alexander Thomas', 'male', 0.42, 0, 1, 8.5167), (1, 2, 'Master. Andre Mallet', 'male', 1.0, 0, 2, 37.0042), (1, 2, 'Master. George Sibley Richards', 'male', 0.83, 1, 1, 18.75)]"

#Create database following instructions in "Create sql database.md"

In [ ]:
#Load the LLM
#Google:
llm = ChatGoogleGenerativeAI(
    model="gemini-1.5-pro",
    temperature=0,
    max_tokens=None,
    timeout=None,
    max_retries=5)
genai.configure(api_key="AIzaSyAPp5b9e-Be29tcskmpoRTdqp9_OnUuSU4")

In [7]:
llm = ChatGroq(
    model="llama-3.1-70b-versatile",
    temperature=0,
    max_tokens=None,
    timeout=None,
    max_retries=5,
    # other params...
)

In [ ]:
chain=create_sql_query_chain(llm,db)

response = chain.invoke({"question": "How many male survivors?"})
print(response)

In [ ]:
#Extracting the SQL command. THis might not been neede for all models, depending on the format obtained
n_query=len(response.split())
response_sql=' '.join(response.split()[2:n_query-1])

In [ ]:
response_sql

In [ ]:
db.run(response_sql)

In [ ]:
response2

In [ ]:
chain.get_prompts()[0].pretty_print()

Don't work because of the incorrect format of the SQL generated

Check https://python.langchain.com/v0.1/docs/use_cases/sql/prompting/

In [ ]:
#Add QuerySQLDataBaseTool to the chain
write_query = create_sql_query_chain(llm, db)
execute_query = QuerySQLDataBaseTool(db=db)

In [ ]:
chain = write_query | execute_query

In [ ]:
chain.invoke({"question": "How many employees are there"})

In [ ]:
from langchain.chains.sql_database.prompt import SQL_PROMPTS

In [ ]:
from operator import itemgetter
from langchain_core.output_parsers import StrOutputParser
from langchain_core.prompts import PromptTemplate
from langchain_core.runnables import RunnablePassthrough

In [ ]:
answer_prompt = PromptTemplate.from_template(
    """Given the following user question, corresponding SQL query, and SQL result, answer the user question.
Remove the prefix SQL "SQLQuery" and  "sqlite" and use the corrected query.
Question: {question}
SQL Query: {query}
SQL Result: {result}
Answer: 

"""

)

answer = answer_prompt | llm | StrOutputParser()
chain = (
    RunnablePassthrough.assign(query=write_query).assign(
        result=itemgetter("query") | execute_query
    )
    | answer
)

chain.invoke({"question": "How many employees are there"})

***Agents***

In [8]:
agent_executor = create_sql_agent(llm, db=db, verbose=True)

In [9]:
agent_executor.invoke(
    {
        "input": "Which is the number of passengers?"
    }
)

> Entering new SQL Agent Executor chain...
Thought: I should look at the tables in the database to see what I can query.  Then I should query the schema of the most relevant tables.
Action: sql_db_list_tables
Action Input: titanicThought: I now have the list of tables in the database. Since there is only one table 'titanic', I will query its schema to see what columns are available.
Action: sql_db_schema
Action Input: titanic
CREATE TABLE titanic (
	"Survived" BIGINT,
	"Pclass" BIGINT,
	"Name" TEXT,
	"Sex" TEXT,
	"Age" FLOAT,
	"Siblings/Spouses Aboard" BIGINT,
	"Parents/Children Aboard" BIGINT,
	"Fare" FLOAT
)

/*
3 rows from titanic table:
Survived	Pclass	Name	Sex	Age	Siblings/Spouses Aboard	Parents/Children Aboard	Fare
0	3	Mr. Owen Harris Braund	male	22.0	1	0	7.25
1	1	Mrs. John Bradley (Florence Briggs Thayer) Cumings	female	38.0	1	0	71.2833
1	3	Miss. Laina Heikkinen	female	26.0	0	0	7.925
*/Thought: I now have the schema of the 'titanic' table. Since the question asks for the number of passengers, I will query the 'titanic' table to count the number of rows.

Action: sql_db_query_checker
Action Input: SELECT COUNT(*) FROM titanicSELECT COUNT(*) FROM titanicThought: I have checked the query and it seems correct. I will now execute the query to get the result.

Action: sql_db_query
Action Input: SELECT COUNT(*) FROM titanic[(887,)]Thought: I now know the final answer
Final Answer: The number of passengers is 887.

> Finished chain.

{'input': 'Which is the number of passengers?',
 'output': 'The number of passengers is 887.'}

In [ ]:
!python app.py